<nav th:fragment="menu"
	class="navbar navbar-expand-lg navbar-dark fixed-top">
	<a class="navbar-brand" href="/cargaHome"> <i
		class="fas fa-university"></i>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a id="link" class="nav-link active" href="/cargaLogin"><span
				class="sr-only">(current)</span></a> 
				<a id="link" class="nav-link" href="#about">Nosotros</a>
				<a id="link" class="nav-link" th:href="@{/angular/angular}">Cursos y profesores</a>
				<a id="link" class="nav-link" th:href="@{/angular/cursos}">Listado de Cursos</a> 
				<a id="link" class="nav-link" th:href="@{/matricula/consultaMatricula}">Consolidado de matrícula</a>
		</div>
	</div>
</nav>